#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q           &kp W         &kp E         &kp R             &kp T                                     &kp Y             &kp U  &kp I      &kp O       &kp P
  &kp A           &kp S         &kp D         &kp F             &kp G                                     &kp H             &kp J  &kp K      &kp L       &kp BACKSPACE
  &kp Z           &kp X         &kp C         &kp V             &kp B                                     &kp N             &kp M  &kp COMMA  &kp PERIOD  &kp ENTER
  &kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_WIN  &lt 1 LANGUAGE_2  &lt 3 SPACE  &kp LEFT_CONTROL  &kp SPACE  &lt 2 LANGUAGE_1                                &kp RIGHT_SHIFT
            >;
        };

        symbol_layer {
            bindings = <
  &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH   &kp DOLLAR  &kp PERCENT                  &kp AMPS   &kp APOSTROPHE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT
  &kp LG(A)        &kp LG(S)          &trans     &kp LG(F)   &kp LG(G)                    &kp MINUS  &kp EQUAL       &kp SEMI              &kp LEFT_BRACKET       &kp BACKSPACE
  &kp LG(Z)        &kp LG(X)          &kp LG(C)  &kp LG(V)   &trans                       &trans     &kp PLUS        &kp COLON             &kp RIGHT_BRACKET      &kp ENTER
  &kp LG(LS(Z))    &trans             &trans     &trans      &trans       &trans  &trans  &trans                                                                  &kp KP_DIVIDE
            >;
        };

        number_and_function_layer {
            bindings = <
  &kp F1           &kp F2           &kp F3           &kp F4           &kp F5                                 &kp F6           &kp F7           &kp F8           &kp F9           &kp F10
  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5                        &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BACKSPACE
  &kp KP_NUMBER_0  &trans           &trans           &trans           &trans                                 &trans           &trans           &kp F11          &kp F12          &kp ENTER
  &bt BT_CLR       &trans           &trans           &kp KP_PLUS      &kp SPACE        &kp KP_MINUS  &trans  &trans                                                              &trans
            >;
        };

        mouse_layer {
            bindings = <
  &kp ESCAPE  &kp LG(LEFT)      &kp UP_ARROW  &kp LG(RIGHT)      &trans                    &trans           &kp PAGE_UP    &msc SCRL_DOWN  &trans          &trans
  &kp TAB     &kp LEFT          &kp DOWN      &kp RIGHT          &trans                    &trans           &mkp LCLK      &mkp MCLK       &mkp RCLK       &kp BACKSPACE
  &trans      &kp LG(LS(LEFT))  &trans        &kp LG(LS(RIGHT))  &trans                    &msc SCRL_RIGHT  &kp PAGE_DOWN  &msc SCRL_UP    &msc SCRL_LEFT  &kp ENTER
  &trans      &trans            &trans        &trans             &trans  &trans  &mkp MB4  &mkp MB5                                                        &trans
            >;
        };

        layer_4 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };
    };
};
